<h1>Hey! It's <%- dayOfWeek %>,
    <% if (dayOfWeek === "Saturday" || dayOfWeek === "Sunday") { %>
        it's time to have fun!
    <% }else {%>
            it's time to work hard!
    <% } %>
</h1>